.project-tabs {
    width: 180px;
    height: 41px;
    background-color: #0000001F;
    font-size: 12px;
    font-weight: bold;
    color: #5D5C5C;
    border: 1px solid #00000033;
    border-radius: 5px;
    margin-right: 10px;
}

.project-tabs:focus {
    width: 180px;
    height: 41px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: #D4AE36;
    border-color: #D4AE36;
    border-radius: 5px;
}

.current-project-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.current-project-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.overview-form form {
    width: 50%;
}

.overview-form form input:not(.ac), .overview-form form select {
    width: calc(100% - 30px);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.overview-form input:focus, .overview-form select:focus {
    outline: none;
    border-color: #d4ae36;
    border-width: 2px;
}

.overview-form input:focus, .overview-form select:focus, .overview-form textarea:focus {
    outline: none;
    border-color: #d4ae36 !important;
    border-width: 2px !important;
}

@media screen and (max-width: 700px) {
    .overview-form form {
        width: 100%;
    }
    .overview-form form input, .overview-form form select {
        width: calc(100% - 30px);
    }
}

.overview-form .custom-select {
    width: 100%;
}

.overview-btn {
    margin-top: 30px;
    margin-bottom: 32px;
}

.add-role_btn {
    width: 156px;
    height: 48px;
    background: var(--mgm-golden) 0% 0% no-repeat padding-box;
    background: #D4AE36 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
}

.add-role_btn:hover {
    background-color: #E3C460;
    color: #D4AE36 !important;
    border: 1px solid #D4AE36 !important;
}

.add-circle {
    padding-right: 6px;
    vertical-align: sub;
}

.filter-icon {
    vertical-align: middle;
    height: 12px;
    /* padding-left: 4px; */
    cursor: pointer;
}

.submission-table {
    border-collapse: collapse;
    width: 100%;
}

.submission-table th, .submission-table td {
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
    padding: inherit;
}

.submission-table th {
    font-family: "Poppins SemiBold";
    font-size: 14px;
}

.submission-table td {
    font-size: 13px;
}

.submission-table th:last-child, .submission-table td:last-child {
    border-right: 1px solid #ddd;
}

.submission-table th:first-child, .submission-table td:first-child {
    border-left: 1px solid #ddd;
}

.table-options {
    display: flex;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
    position: sticky;
    left: 0;
    justify-content: flex-end;
}

.table-options select {
    padding: 2px;
}

.table-options_num {
    padding-right: 12px;
}

.table-options_num2 {
    padding-left: 14px;
    padding-right: 16px;
}

.blank_row {
    height: 300px !important;
    /* overwrites any other rules */
    background-color: #FFFFFF;
}

.actionsidenav-btn-container {
    margin-top: 24px;
}

/* The side navigation menu */

.actionSidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #00000065;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    /* transition: 0.5s; 0.5 second transition effect to slide in the sidenav */
}

.actionSidenav input:disabled, .actionSidenav select:disabled {
    outline: none;
    border-color: #939191 !important;
    border-width: 2px !important;
    background-color: #AFAFAF;
}

.actionSidenav input:focus, .actionSidenav select:focus, .actionSidenav textarea:focus {
    outline: none;
    border-color: #d4ae36 !important;
    border-width: 2px !important;
}

/* The navigation menu links */

.actionSidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /* transition: 0.3s; */
}

/* Position and style the close button (top right corner) */

.actionSidenav .closebtn {
    position: absolute;
    top: -20px;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
    padding-top: 80px;
}

/* The Close Button */

.closebtn {
    color: #3D3A3A;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .actionSidenav {
        padding-top: 15px;
    }
    .actionSidenav a {
        font-size: 18px;
    }
}

.sidenav-menu {
    background: #fff;
    color: #3d3a3a;
    width: 40%;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    /* min-height: 100%; */
    overflow: scroll;
    height: calc(100vh - 50px);

}

.sidenav-menu p {
    margin-bottom: 0;
}

.sidenav-menu .item-list {
    font-size: 14px;
    overflow-y: scroll;
    max-height: 55vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidenav-menu .actionable-items {
    box-shadow: none;
}

.sidenav-menu #due-date {
    width: calc(79% - 22px);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.form-control.radio-control {
    margin-top: 5px;
    display: flex;
}

@media screen and (max-width: 750px) {
    .sidenav-menu {
        background: #fff;
        color: #3d3a3a;
        width: 60%;
    }
}

.actionable-items-scrollto {
    width: 173px;
    height: 28px;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #3D3A3A;
    opacity: 1;
    font-family: 'Poppins Semibold';
}

.action-item {
    min-height: 120px;
    padding: 14px;
    padding-left: 3%;
}

.actionable-items .action-item p::before {
    counter-increment: action-items;
    /* Increment the value of section counter by 1 */
    content: counter(action-items) ". ";
}

.action-item-description {
    align-items: center;
    justify-content: space-between;
}

.action-item-description .edit-btn {
    padding: 5px;
    width: 156px;
    height: 48px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: "Poppins Regular";
    height: 40px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.action-item-description .details-btn-container {
    padding-left: 30px;
}

.description-p::before {
    content: "•";
    color: #000;
    width: 20px;
    height: 20px;
    font-weight: 600;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
}

.modal-text {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    padding-top: 9px;
    color: #3D3A3A;
    opacity: 1;
}

/*Modal Css for testing */

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 60px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
    height: 82%;
}

.modal-content textarea:focus {
    outline: none;
    border-color: #d4ae36 !important;
    border-width: 2px !important;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 32px;
    height: 16px;
    color: var(--mgm-gray);
    text-align: left;
    font-family: 'Poppins Medium';
    letter-spacing: 0px;
    color: #3D3A3A;
   
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn-row {
    margin-top: 40px;
}

@media screen and (max-width: 1200px) {
    .modal-btn-row button {
        margin-top: 10px;
        display: block;
        min-width: 100%;
    }
    .modal-btn-row {
        text-align: left;
    }
    .form-cancel-btn {
        margin-left: 0px;
    }
}

/*Modal Testing over */

.addRole-form form {
    width: 90%;
}

.addRole-form form input:not(.ac), .addRole-form form select {
    width: calc(100% - 30px);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.addRole-form input:focus, .addRole-form select:focus {
    outline: none;
    border-color: #d4ae36;
    border-width: 2px;
}

@media screen and (max-width: 700px) {
    .addRole-form form {
        width: 100%;
    }
    .addRole-form form input, .addRole-form form select {
        width: calc(100% - 30px);
    }
}

.addRole-form .custom-select {
    width: 100%;
}

.addRole-form textarea {
    resize: none;
    border: 1px solid #ccc;
    box-sizing: content-box;
    width: calc(100% - 30px);
    font-family: "Poppins Regular";
    padding: 10px;
    border-radius: 5px;
}

.custom-file-upload {
    display: block;
    border: 1px solid #D3D3D3;
    width: 160px;
    height: 140px;
    cursor: pointer;
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    background-image: url('../../assets/media/image-upload.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position: center;
    margin-top: 10px;
}

img[src=""] {
    display: none;
}

img::not([src=""])+.browse-image {
    display: none;
}

.browse-image {
    color: #83744E;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 60px;
    left: 34px;
}

.cross-button {
    display: none;
    position: relative;
    font-size: 16px;
    top: -137px;
    left: 143px;
    cursor: pointer;
    color: #757575;
}

button:disabled {
    background: #AFAFAF;
}

.select-selected:disabled {
    background-color: #AFAFAF;
}


.addRole-form input:focus {
    outline: none;
    border-color: #d4ae36 !important;
    border-width: 2px !important;
}

.data-container {
    background-color: #323436;
    padding: 10px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .data-container>p.title {
    font-weight: bold;
    text-align: center;
  }
  
  .data-container-table {
    color: black !important;
  }
  
  .data-container-table>tbody>tr:nth-child(even) {
    background-color: #c4c4c4;
  }
  
  .data-container-table>tbody>tr:not(:first-child):hover {
    opacity: 1;
    background-color: #e1e1e1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
  }
  
  .context-menu:after {
    content: '\2807';
    font-size: 20px;
    cursor: pointer;
    cursor: hand;
    pointer-events: all;
  }
  
  td.context-menu:after {
    float: right;
  }
  
  p.contextMenu:after>span {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  h1.context-menu:after,
  h2.context-menu:after,
  h3.context-menu:after,
  h4.context-menu:after,
  h5.context-menu:after {
    margin-left: 30px;
  }
  
  .context-menu-container {
    background-color: white;
    z-index: 1000 !important;
    border-radius: 5px;
    position: absolute;
    display: none;
    border: solid thin black;
    padding: 3px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.18);
    min-width: 90px;
  }
  
  .context-menu-container>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .context-menu-container>ul>li {
    padding: 5px;
    cursor: hand;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .context-menu-container>ul>li:hover {
    background-color: #c4c4c4;
  }

  /* .submission-form-container tr:hover:not(:first-child) {
    background-color: #e3c460;
    cursor: pointer;
  } */


  .tooltip {
    position: relative;
    opacity: 1;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 88%;
    left: 69%;
    /* margin-left: 34px; */
    position: absolute;
    z-index: 1;
    display: flex;
    text-align: left;
    border-bottom-left-radius: 0px;
  }
  
  .tooltip:hover .tooltiptext {
    padding: 5px 12px;
    font-size: 14px;
    font-family: Poppins Regular;
    color: #ffffff;
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 12%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }


  .record_tablinks {
    color: #D4AE36 !important;
    background-color: #ffffff !important;
    border: 1px solid #D4AE36 !important;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {
    background-color: #D4AE36;
    }
  
  .dropdown:hover .dropdown-content {display: block;}

  .no-data-record {
    position: relative;
    top: 130px;
    display: inline-block;
    margin-left: 40%;
    height: 400px;
  }
  
  .no-data-record img {
    width: 45px;
    height: 45px;
    margin-left: 30%;
  }
  
  .no-data-record p {
    color: #00000066;
    opacity: 50%;
    font-size: 16px;
    font-family: 'Poppins, Regular';
  }
  ::-webkit-scrollbar {
    display: none;
    position: fixed;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
 