@import url("../main.css");

.dashboard-welcome-title {
  font-size: 60px;
  font-family: "Poppins Light";
  margin-bottom: 10px;
  padding-top: 60px;
}

.dashboard-container {
  padding-left: 15%;
  padding-right: 15%;
}

.dashboard-section {
  padding-top: 10px;
}

.dashboard-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-cards .dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFF;
  /* flex-grow: 1; */
  width: calc(32% - 40px);
  height: 150px;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dashboard-title a {
  padding: 10px;
  background: #d4ae36;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 600px) {
  .dashboard-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-title a {
    width: 100% !important  ;
  }
}

@media screen and (max-width: 800px) {
  .dashboard-title {
    flex-direction: column;
  }

  .dashboard-welcome-title {
    font-size: 28px;
  }

  .dashboard-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .dashboard-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-cards .dashboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* flex-grow: 1; */
    width: calc(100% - 40px);
    margin-top: 10px;
    height: 150px;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .dashboard-title {
    flex-direction: row;
  }

  .dashboard-welcome-title {
    font-size: 40px;
  }

  .dashboard-container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .dashboard-cards {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-cards .dashboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* flex-grow: 1; */
    width: calc(49% - 40px);
    height: 150px;
  }

  .dashboard-cards .dashboard-card:last-child {
    margin-top: 20px;
    justify-content: center;
    width: calc(100% - 40px);
    height: 150px;
    text-align: center;
  }

  .dashboard-cards .dashboard-card:last-child .card-stat {
    padding-right: 20px;
  }
}

.dashboard-card {
  background: #FFF;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.dashboard-card .card-title {
  font-family: "Poppins SemiBold";
  font-size: 20px;
}

.dashboard-card .card-stat {
  font-family: "Poppins SemiBold";
  color: var(--theme-yellow);
  font-size: 60px;
}

.table-container {
  background-color: #FFF;
  padding: 2%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  overflow-x: scroll;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.table-container tr:nth-child(odd):not(:first-child) {
  background-color: #d3d3d3;
}

.table-container tr:hover:not(:first-child) {
  background-color: var(--theme-yellow);
  cursor: pointer;
}

.submission-table {
  border-collapse: collapse;
  width: 100%;
}

.submission-table th,
.submission-table td {
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
  padding: 8px;
}

.submission-table th {
  font-family: "Poppins SemiBold";
  font-size: 14px;
}

.submission-table td {
  font-size: 13px;
}

.submission-table th:last-child,
.submission-table td:last-child {
  border-right: 1px solid #ddd;
}

.submission-table th:first-child,
.submission-table td:first-child {
  border-left: 1px solid #ddd;
}

.status-pass div,
.status-weak div,
.status-na div,
.status-consider div {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

.status-pass div {
  background-color: var(--status-pass);
}

.status-na div {
  background-color: var(--status-na);
}

.status-consider div {
  background-color: var(--status-consider);
}

.status-weak div {
  background-color: var(--status-weak);
}

.table-container .overall-txt {
  color: var(--status-consider);
  text-decoration: underline;
  font-family: "Poppins Medium";
}

.table-container .needs-coverage-txt {
  color: var(--status-na);
}

.table-container .convert-stage-txt {
  color: var(--status-pass);
}

.table-container .pass-stage-txt {
  color: var(--status-weak);
}

.table-options {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 12px;
  text-align: right;
  position: sticky;
    left: 0;
}

.table-options select {
  padding: 2px;
}

.actionable-items {
  background-color: #FFF;
  padding: 2%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-top: 70px;
}

.actionable-items {
  counter-reset: action-items;
}

.action-item {
  min-height: 120px;
  padding: 10px;
  padding-left: 3%;
}

.actionable-items .action-item p::before {
  counter-increment: action-items; /* Increment the value of section counter by 1 */
  content: counter(action-items) ". ";
}


@media screen and (max-width: 600px) {
  .action-item-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}


.action-item-description .details-btn-container {
  padding-left: 30px;
}

.item-list-footer {
  text-align: center;
  text-decoration: underline;
  color: #afafaf;
  padding-top: 15px;
  padding-bottom: 15px;
}

.action-items-card {
  cursor: pointer;
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.table-title:first-child {
  font-size: large;
  font-weight: bold;
}

.table-title input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 250px;
  line-height: 20px;
}

@media screen and (max-width: 600px) {
  .table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .table-title div {
    width: calc(100% - 20px);
    padding-right: 20px;
  }
  .table-title input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


