body {
    margin: 0px;
  }
  
  .submission-type-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .project-title {
    font-weight: 600;
    font-size: 30px;
    font-family: "Poppins Regular";
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-family: "Poppins Semibold";
    font-weight: 600;
  }
  
  .add-action_btn {
    width: 156px;
    height: 48px;
    background: var(--mgm-golden) 0% 0% no-repeat padding-box;
    background: #D4AE36 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
   
  }

  .action_btn{
    width: 156px;
    height: 48px;
    background: var(--mgm-golden) 0% 0% no-repeat padding-box;
    background: #0000001F 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
  }

  .action_btn:focus {
    width: 180px;
    height: 41px;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: #D4AE36;
    border-color: #D4AE36;
    border-radius: 5px;
    
  }
  
  .add-action_btn:hover {
    background-color: #E3C460;
    
    
  }
  
  .submission-type-form-other {
    align-items: flex-end;
  }
  
  .submission-type-form-other>div {
    margin-right: 5px;
  }
  
  .submission-type-form .form-control {
    min-width: 45%;
  }
  
  .submission-detail:focus-within, .autocomplete:focus-within, .submission-form input:focus, .submission-form select:focus, .submission-form textarea:focus {
    outline: none;
    border-color: #d4ae36 !important;
    border-width: 2px !important;
  }
  
  .submission-type-form .custom-select {
    width: 80%;
  }
  
  .submission-form-container {
    border-radius: 5px;
  }
  
  .submission-type {
    display: inline-block;
    width: 255px !important;
    height: 56px;
    padding: 10px;
  }
  
  .submission-detail {
    display: inline-block;
    width: 196px !important;
    height: 56px;
    padding: 10px;
  }
  
  .evaluation-status {
    height: 56px;
  }
  
  .submission-detail label {
    visibility: hidden !important;
  }
  
  .dotted-line {
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    display: inline;
  }
  
  .submission-status:after {
    content: "";
    border-top: 2px dashed #9cbfdb;
    letter-spacing: 6px;
    display: inline;
    font-size: 30px;
    position: absolute;
    top: 400px;
    left: 354px;
    vertical-align: 3px;
    width: 186px;
    padding-left: 10px;
  }
  
  .submission-card {
    margin-bottom: 20px;
  }
  
  .check-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
  }
  
  .check-row b {
    color: #afafaf;
  }
  
  .check-row .txt-black {
    color: #3d3a3a;
  }
  
  .incoming-sub-page-divider {
    display: flex;
  }
  
  .incoming-sub-page-divider>div {
    width: 98%;
  }
  
  .submission-form form {
    width: 90%;
  }
  
  input:focus {
    outline: none !important;
  }
  
  .action-item-file {
    min-height: auto;
    font-size: 14px;
    padding: 0%;
  }
  
  .action-item-disabled {
    opacity: 70%;
    cursor: pointer;
  }
  
  .action-item-disabled .edit-btn {
    background-color: #F3F3F3;
    cursor: pointer;
  }
  
  .edit-btn:hover {
    background-color: #F3F3F3;
  }
  
  .actionable-items .action-item p::before {
    content: ".";
    color: #000;
  }
  
  .action-item-op {
    display: flex;
  }
  
  .action-item-op-history {
    margin-bottom: 0px;
  }
  
  .actionable-items .action-item .action-item-op::before {
    content: " ";
    color: #000;
  }
  
  /* .history-progress-done:after {
    content:"";
    position: absolute;
    left: 730px; 
    top: 1715px;
    border-left: 1px solid #D3D3D3;
    height: 66px;
    width: 1px;
  } */
  
  .history-progress li:after {
    content: "";
    position: relative;
    left: -15px;
    top: -30px;
    border-left: 1px solid #D3D3D3;
    height: 66px;
    width: 1px;
  }
  
  /* .history-progress li:nth-child(even):after {
    content:"";
    position: relative;
    left: 10%; 
    top: 0%;
    border-left: 1px solid #D3D3D3;
    height: 66px;
    width: 1px;
  } */
  
  .autocomplete {
    margin-top: 25px;
    margin-right: 10px;
  }
  
  .actionable-items h3 {
    font-family: "Poppins Semibold";
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  @media screen and (max-width: 900px) {
    .incoming-sub-page-divider {
      display: flex;
      flex-direction: column !important;
    }
    .submission-type-form .form-control {
      width: 100%;
      margin-right: 5px;
    }
  }
  
  .details-btn {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #3d3a3a !important;
    float: right;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-decoration: none !important;
  }
  
  .details-btn:hover {
    background-color: #F3F3F3;
    border: 1px solid #D3D3D3;
  }
  
  .form-submit-btn:hover {
    background-color: #E3C460;
  }
  
  .edit-btn {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0px;
    width: 156px;
    height: 48px;
    font-size: 14px;
    box-shadow: 0px 2px 4px #00000040;
    font-size: 14px;
    color: #3d3a3a !important;
    cursor: pointer;
    text-decoration: none !important;
  }
  
  .form-submit-btn {
    background-color: #D4AE36;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 156px;
    color: #3d3a3a !important;
    cursor: pointer;
    text-decoration: none !important;
  }
  
  @media screen and (max-width: 600px) {
    .check-row {
      font-size: 12px;
    }
    .submission-type-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
    .action-item-description {
      flex-direction: row;
      font-size: 14px;
    }
    .details-btn {
      float: none !important;
      background-color: #D4AE36;
      /* width: 100% !important; */
      display: block !important;
    }
  }
  
  .submission-form form input:not(.ac), .submission-form form select {
    padding: 10px;
  }
  
  .item-list-footer {
    color: #83744e;
  }
  
  /* The side navigation menu */
  
  .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #00000065;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    /* transition: 0.5s; 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /* transition: 0.3s; */
  }
  
  /* When you mouse over the navigation links, change their color */
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  
  .sidenav-menu {
    background: #fff;
    color: #3d3a3a;
    width: 40%;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
  }
  
  .sidenav-menu p {
    margin-bottom: 0;
  }
  
  .sidenav-menu .item-list {
    font-size: 14px;
  }
  
  .sidenav-menu .actionable-items {
    box-shadow: none; 
    overflow: scroll;
    height: calc(100vh - 50px);
  }
  
  .sidenav-menu #due-date {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #ccc;
    box-sizing: content-box;
  }
  
  .filmtitles {
    margin-top: 15px;
    font-size: 16px;
    color: var(--mgm-gray);
    text-align: left;
    letter-spacing: 0px;
    color: #3D3A3A;
    opacity: 1;
  }
  
  /* The switch - the box around the slider */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  
  .slider {
    position: absolute;
    cursor: pointer;
    width: 34px !important;
    height: 14px !important;
    top: 17px;
    left: 0;
    right: 15px;
    bottom: 0;
    height: 9px;
    background-color: #939191;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: none;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    left: 0px;
    bottom: -3px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked+.slider {
    background-color: #E2C979;
    box-shadow: none;
  }

  
  input:focus+.slider {
    /* box-shadow: 0 0 1px #ccc; */
    box-shadow: none;
  }
  
  input:checked+.slider:before {
    position: absolute !important;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -10px;
    background-color: #83744e;
  }
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .chip-span {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px;
    margin: 3px;
    height: 23px;
    display: flexbox;
  }
  
  .chip-text {
    position: relative;
    bottom: 7px;
  }
  
  .chip-image {
    border-radius: 50%;
    border: 1px solid #000;
    width: 20px;
    height: 21px;
    margin-right: 3px;
  }
  
  .cross-span {
    position: relative;
    bottom: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    background: #00000099;
    color: #d3d3d3;
  }
  
  .cross-span:after {
    content: 'x';
    position: relative;
    top: -2px;
    left: 0px;
  }
  
  .form-control.radio-control, .form-control.file-upload {
    margin-top: 5px;
  }
  
  @media screen and (max-width: 750px) {
    .sidenav-menu {
      background: #fff;
      color: #3d3a3a;
      width: 85%;
    }
  }
  
  .check-row>div {
    min-width: 80px;
  }
  
  /* Add a background color to the top navigation */
  
  .topnav {
    background-color: #83744e;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    width: 99%; 
    top: 0;
    height: auto;
    z-index: 100;
  
  }
  
  .profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav, .nav-actions-container, .avatar-action, .menu-hamburger {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .notifications-action {
    height: 20px;
  }
  
  .topnav {
    justify-content: space-between;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .menu-hamburger div:first-child {
    height: 20px;
    cursor: pointer;
  }



  .project-status-switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .project-status {
    min-width: 50% !important;
  }

  .pagination {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

  .pagination img {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.rowHrStyle {
  width: 1px;
  height: 20px;
  display: inline;
  margin-right: 10px;
  border: 1px solid #d3d3d3;
  opacity: 1;
}

input[type="checkbox"] {
  visibility: hidden;
}
label {
  cursor: pointer;
  margin-top: 1px;
}
input[type="checkbox"] + label:before {
  border: 1px solid #939191;
  content: "\00a0";
  display: inline-block;
  font: 12px/1em Poppins Regular;
  height: 13px;
  vertical-align: top;
  width: 13px;
}
input[type="checkbox"]:checked + label:before {
  background: #d4ae36;
  color: #fafafa;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}




